<div class="app-container" [class.collapsed]="isCollapsed">

  <aside class="sidebar">
    <nav class="sidebar-nav">
       <div class="d-flex align-items-center gap-3">
        <h1 class="logo-text m-0">
          <span class="full-name" *ngIf="!isCollapsed">Finance App</span>
        </h1>
      </div>
      
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
        <i class="bi bi-speedometer2"></i>
        <span class="link-text">Dashboard</span>
      </a>

      @if (authService.currentUserSignal()?.role === 'Admin' || authService.currentUserSignal()?.role === 'Banker') {
        <a routerLink="/banker-user-list" routerLinkActive="active" class="nav-item">
          <i class="bi bi-people-fill"></i>
          <span class="link-text">Customer Management</span>
        </a>

    
      }

      <a routerLink="/new-loan-form" routerLinkActive="active" class="nav-item">
        <i class="bi bi-file-earmark-plus"></i>
        <span class="link-text">Request Funds</span>
      </a>
          <a routerLink="/emi-calculator" routerLinkActive="active" class="nav-item">
        <i class="bi bi-calculator"></i>
          <span class="link-text">EMI Calculator</span>
        </a>

      <a routerLink="/loan-application-list" routerLinkActive="active" class="nav-item">
        <i class="bi bi-clock-history"></i>
        <span class="link-text">History</span>
      </a>

    <a routerLink="/notification" routerLinkActive="active" class="nav-item position-relative">
  <i class="bi bi-bell"></i>
  
  <span class="link-text">Notifications</span>

  @if (notificationService.unreadCount() > 0) {
    <span class="badge rounded-pill bg-danger ms-auto" 
          [class.position-absolute]="isCollapsed"
          [class.top-0]="isCollapsed"
          [class.start-100]="isCollapsed"
          [class.translate-middle]="isCollapsed"
          style="font-size: 0.7rem;">
      {{ notificationService.unreadCount() }}
    </span>
  }
</a>

      <a routerLink="/support-tickets" routerLinkActive="active"  class="nav-item dummy">
        <i class="bi bi-headset"></i>
        <span class="link-text">Customer Support</span>
      </a>

     
      @if (authService.currentUserSignal()?.role !== 'Customer') {
   <a routerLink="/audit-log" routerLinkActive="active"  class="nav-item dummy">
        <i class="bi bi-headset"></i>
        <span class="link-text">Audit Log</span>
      </a>

}


    </nav>
  </aside>


  <div class="main-content d-flex flex-column flex-grow-1">

    <header class="top-header d-flex align-items-center px-4">

      <div class="d-flex align-items-center gap-3">
        <h1 class="logo-text m-0">
          <span class="kt-icon">GT</span>
        </h1>

        <button class="toggle-btn" (click)="toggleSidebar()">
         <i class="bi" [ngClass]="isCollapsed ? 'bi-caret-right-square-fill' : 'bi-caret-left-square-fill'"></i>
        </button>
      </div>

      <div class="ms-auto user-profile d-flex align-items-center gap-4"> <app-notification-bell></app-notification-bell>

        @if (authService.currentUserSignal()) {
          <div class="user-info text-end">
            <span class="greeting">
              Hi, {{ authService.currentUserSignal()?.username || 'User' }}
            </span>
          </div>

          
           <app-profile-menu></app-profile-menu>

          <button class="btn btn-sm text-danger" (click)="onLogout()" title="Logout">
            <i class="bi bi-box-arrow-right fs-5"></i>
          </button>
        } @else {
          <button class="btn btn-success btn-sm" routerLink="/login">Login</button>
        }
      </div>

    </header>

    <div class="page-container flex-grow-1">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>

<ngx-sonner-toaster position="bottom-right" richColors />